<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>        
        <th class="h6" *ngFor="let column of visibleColumns()">{{column.displayName}}</th>
        <th><a (click)="openColumnSelection()">...</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of data"> 
        <td *ngFor="let column of visibleColumns()" [innerHTML]="column.render(object)">
          <!--{{column.render(object)}}-->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<modal id="columnSelector" style = "height: 100px">
    <div class="modal">
        <div class="modal-body">
            <p class="h4">Please select the columns to show</p>
            <mc-column-selector [columns]="columns"></mc-column-selector>
            <button (click)="closeColumnSelection()">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>


        <!--<td>
          <a [href]="['/layoffnotice', object.ID]">
            <div class="btn btn-primary pointer">
              View
            </div>
          </a>
        </td>
        <td>{{ layoffNotice.RREventNumber }}</td>
        <td>{{ layoffNotice.CreateDate | date}}</td>
        <td>{{ layoffNotice.CreatedBy }}</td>
        <td>{{ layoffNotice.ModifiedDate | date}}</td>
        <td>{{ layoffNotice.ModifiedBy }}</td>
        <td>{{ layoffNotice.RR_ReceivedDate | date}}</td>
        <td>{{ layoffNotice.SiteID }}</td>
        <td>{{ layoffNotice.StatusId }}</td>
        <td>{{ layoffNotice.IncidentType }}</td>
        <td>{{ layoffNotice.NotificationType }}</td>
        -->
